.Slider{
display: flex;
background-color: black;
justify-content: center;
}

.TextTo3DHeading {
  font-size: 2em;
  display: flex;
  justify-content: center;
  background-color: black;
}
.TextTo3DHeading h2{
  color: #FDFFFC;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.TextTo3DContentMainDiv {
  height: 160vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.TextTo3DContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 72vw;
  height: 145vh;
  row-gap: 80px;
  column-gap: 80px;
}

.TextTo3DElement1{
 grid-row: 1/2;
 grid-column: 1/2;
 
 display: flex;
 justify-content: center;
 align-items: center;

 border-radius: 10px;

 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
}
.TextTo3DElement2{
    grid-row: 1/2;
    grid-column: 2/3;
  
    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement3{
    grid-row: 1/2;
    grid-column: 3/4;
    
    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement4{
    grid-row: 2/3;
    grid-column: 1/2;

    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement5{
    grid-row: 2/3;
    grid-column: 2/3;
  
    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement6{
    grid-row: 2/3;
    grid-column: 3/4;
  
    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement7{
    grid-row: 3/4;
    grid-column: 1/2;

    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement8{
    grid-row: 3/4;
    grid-column: 2/3;
   
    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}
.TextTo3DElement9{
    grid-row: 3/4;
    grid-column: 3/4;
  
    display: flex;
 justify-content: center;
 align-items: center;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
 border-radius: 10px;
}


.ImageTo3DHeading {
    font-size: 2em;
    display: flex;
    justify-content: center;

    background-color: black;
  }

  .ImageTo3DHeading h2{
    color: #FDFFFC;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.ImageTo3DContentMainDiv{
  display: flex;
  justify-content: center;
background-color: black;
}


.ImageTo3DContent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 80vw;
  height: 130vh;

  align-items: center;
  column-gap: 20px;
}

.ImageTo3DContentEle1{

  display: flex;
  justify-content: center;
  column-gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.ImageTo3DContentEle1 img{
  margin-top: 10px;
}

.ImageTo3DContentEle2{
 
  display: flex;
  justify-content: center;
  column-gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.ImageTo3DContentEle2 img{
  margin-top: 10px;
}
.ImageTo3DContentEle3{

  display: flex;
  justify-content: center;
  column-gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.ImageTo3DContentEle3 img{
  margin-top: 10px;
}
.ImageTo3DContentEle4{

  display: flex;
  justify-content: center;
  column-gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}
.ImageTo3DContentEle4 img{
  margin-top: 10px;
}
.ImageTo3DContentEle5{

  display: flex;
  justify-content: center;
  column-gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}
.ImageTo3DContentEle5 img{
  margin-top: 10px;
}
.ImageTo3DContentEle6{

  display: flex;
  justify-content: center;
  column-gap: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
}

.ImageTo3DContentEle6 img{
  margin-top: 10px;
}


