.CommonQuestions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
   
}


.title {
 
}

.CommonQue{

}

.question, .answer {
 
}

.question {
  
}

.subtitle {
 
}