

.LearnMoreVC {
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
  
}

.LearnMoreVC h1 {
    font-size: 6em;
}
